# version: '3'

services:
  openldap:
    image: tiredofit/openldap:latest
    container_name: openldap
    restart: always
    ports:
      - '389:389'
      - '636:636'
    environment:
      - DOMAIN
      - ORGANIZATION
      - ADMIN_PASS
      - CONFIG_PASS
      - ENABLE_TLS
      # 使用 MDB (新标准)，比旧的 BDB 快且稳
      - BACKEND=mdb
      # 调试日志
      - DEBUG_MODE=TRUE
      - LOG_LEVEL=256
    volumes:
      - ./openldap_data:/var/lib/openldap
      - ./openldap_config:/etc/openldap/slapd.d

  openldap-admin:
    container_name: openldap-admin
    image: osixia/phpldapadmin:latest
    ports:
      - '8089:80'
    restart: always
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
      PHPLDAPADMIN_HTTPS: "false"
      #PHPLDAPADMIN_LDAP_BASE_DN: "dc=weattech,dc=com"
    depends_on:
      - openldap